@tailwind base;
@tailwind components;
@tailwind utilities;



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: "IBM Plex Sans Arabic";
    src: url("/fonts/IBMPlexSansArabic-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Sans Arabic";
    src: url("/fonts/IBMPlexSansArabic-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Sans Arabic";
    src: url("/fonts/IBMPlexSansArabic-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Sans Arabic";
    src: url("/fonts/IBMPlexSansArabic-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Sans Arabic";
    src: url("/fonts/IBMPlexSansArabic-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Sans Arabic";
    src: url("/fonts/IBMPlexSansArabic-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "IBM Plex Sans Arabic";
    src: url("/fonts/IBMPlexSansArabic-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "IBM Plex Sans Arabic", sans-serif;
    background-color: #F5F7FA
}

section,
.section {
    margin-top: 240px;
}


@media (max-width:768px) {

    section,
    .section {
        margin-top: 120px;
    }
}


.glassy {
    background-color: rgba(9, 40, 146, 0.12);
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
}

.glassyW {
    background-color: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(32px);
    -webkit-backdrop-filter: blur(32px);
}

.boxShadow {
    box-shadow: 0 0 16px 8px rgba(9, 40, 146, 0.04)
}

.boxShadow2 {
    box-shadow: 0 0 16px 8px rgba(255, 255, 255, 0.2)
}

@layer utilities {
    .gradientBg {
        background-image: linear-gradient(to right, #43236A 0%, #10278C 20%, #10278C 80%, #43236A 100%);
    }
}